body {
    margin: 0;
    @import '../../foothead/puggy/header1/header1.scss';
    @import '../../foothead/puggy/info/info.scss';
    @import '../../form/elements/input/input.scss';
    @import '../../cards/login/login.scss';
    

    .contbox2 {
        max-width: 1920px;
        
        .picfone2 {
                background-image: url("../../img/loggin.svg");
                max-width: 100%;
                width: 100%;
                background-position: center;
                height: 772px;
                background-size: cover;
                background-repeat: no-repeat;
                background-attachment: initial;
                background-position-y: bottom;
                position: relative;

                & .regisacc {
                    position: relative;
                    top: 19px;
                    margin: 0 auto; 
                    background-color: white;
                    border-radius: 5px;

                    &.chrest {
                        top: 220px;
                        z-index: 3;
                    }

                    @media (max-width:499px) {
                        width: 80%;

                        & .inp, & .btnclick, & .togglecont {
                            width: 80%;
                        }

                        & .boxinp {
                            width: 100%;
                        }

                        & .enter {
                            width: 80%;

                            & .btnclick {
                                width: 30%;
                            }

                            &__text {
                                width: 70%;
                            }
                        }

                        
                    }

                    @media(max-width:458px) and (min-width:382px) {
                        &__title {
                          right: 40px;  
                        }
                    }

                    @media (max-width:406px) {
                        & .btnclick:nth-child(odd) {
                            margin-top: 10px;

                            & i {
                                right: 7px;
                            }
                        }

                        & .radmenu {
                           width: 200px;
                        }
                    }
                }
        }
    }    
}    