@font-face {
    font-family: 'Quicksand';
    font-family: 'Montserrat';
    src: url('../../fonts/quicksand.ttf') format('truetype');
    src: url('../../fonts/montserrat.ttf') format('truetype');
}


body {
    margin: 0;
    @import '../../foothead/puggy/header1/header1.scss';
    @import '../../foothead/puggy/info/info.scss';
    @import '../../form/elements/input/input.scss';
    @import '../../cards/login/login.scss';


    .contbox2 {
        max-width: 1920px;
        
        .picfone2 {
                background-image: url("../../img/loggin.svg");
                max-width: 100%;
                width: 100%;
                background-position: center;
                height: 772px;
                background-size: cover;
                background-repeat: no-repeat;
                background-attachment: initial;
                background-position-y: bottom;
                position: relative;

                & .regisacc {
                   position: relative;
                   top: 19px;
                   margin: 0 auto;
                   
                   background-color: white;
                   border-radius: 5px;
                }
        }
        
        @media (max-width:998px ) {
            .navigation,.about,.support,.postup {
                display: none;
            }

            .emblem {
               width: 80%;
               position: relative;
               margin: 0 auto;
               

               &__tox .toxin {
                    margin: 0 auto;
               }

               &__tox p {
                   text-align: center;
                   width: 100%;
                }
             }
              
          
           
        }
    }
}    