header.header1
    div.toxic1
        include ../../../sign/toxin.pug
        -var arr =['Home','About Us','Service' ,'Careers', 'News', 'Documentation']
    nav.bar1
        each list in arr
            if list=='Home'
                div.bar1__el1(style="font-weight:bold;")
                    a(href="#" style="color: rgba(31, 32, 65, 0.75)")= list
            else if list=="Service"
                div.bar1__el1
                    a(href="#" style="position:relative;")= list
                        <i class="material-icons">expand_more</i>   
            else
                div.bar1__el1
                    a(href="#")= list 
    div.btn1
        button.btn1__log1 LOGIN
        button(onclick="document.location.href = 'registr.html'").btn1__reg1  REGISTER
    div.burger
        span.burger__inter                  
        
