

    %fone {
        box-shadow: 0 0 1px;
        background: #FFFFFF;
    }
    
    

    .header1{
        height: 70px;
        margin-top: 150px;
        padding: 0 140px;
        box-sizing: border-box;
        @extend %fone;
        display: flex;
        

        .toxic1 {
            margin: 12px 0;
        }    
        
        @import "../../../sign/toxin.scss";
        

        @media (max-width: 1639px) {
            .toxic1 {
               margin-right: -200px;
            }
            .bar1 {
                
                .bar1__el1 {
                    font-size: 14px;
                    margin-right: -115px;
                }
            }

            .btn1 {
                
               .btn1__log1 {
                   margin-right: 8px;
               }
               
            }
        } 
      

        .bar1 {
            display: flex;
            width: 647px;
            justify-content: space-between;
            margin-top: 26px;
            margin-left: 277.31px;
           

            &__el1 {
                font-family: 'Montserrat';
                font-style: normal;
                font-size: 16px; 
                
            }

            i {
                font-family: 'Material Icons';
                font-style: normal;
                font-weight: normal;
                font-size: 24px;
                position: absolute;
                bottom: -2px;
            }

            &__el1 a {
                text-decoration: none;
                color: rgba(31, 32, 65, 0.5);
            }
        }
        
        .btn1 {
            display: flex;
            justify-content: space-between;
            width: 190px;
            margin-left: 180px;
            height: 34px;
            margin-top: 18px;
            margin-bottom: 18px;


            &__log1 {
                font-family: 'Montserrat';
                font-weight: bold;
                font-size: 12px;
                border-radius: 22px;
                border:2px solid #BC9CFF;
                background-color: #FFFFFF;
                color: #BC9CFF;
                outline: none;
                width: 79px;
                cursor: pointer;
            }

            &__reg1 {
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: bold;
                font-size: 12px;
                color: #FFFFFF;
                border: 1px solid #BC9CFF;
                background-color:#BC9CFF;
                border-radius: 22px;
                width: 101px;
                outline: none;
                cursor: pointer;
            }

        }

    
    } 
    
    
    