.sign{
    border: 3px solid rgba(31, 32, 65, 0.25);
    position: absolute;
    width: 48px;
    height: 48px;
    left: 30px;
    top: 30px;
    border-radius: 50%;


    &_vector1{
        position: absolute;
        right:12px;
        top: 15px;
         border-top: 3px solid rgba(31, 32, 65, 0.25); 
         border-left: 3px solid rgba(31, 32, 65, 0.25); 
        border-radius: 360px 0 0 0;
        height: 5px;
        padding-bottom: -1px;
        width: 8px;
        

    }

    &_vector2{
        position: absolute;
        right:23px;
        top: 15px;
        border-top: 3px solid rgba(31, 32, 65, 0.25);
        border-radius: 0 360px 0 0;
        border-right: 3px solid rgba(31, 32, 65, 0.25);
        height: 13px;
        padding-top: 1px;
        width: 11px;
        

    }
    
 }   