.toxin{
     
     width: 105.69px;
     height: 45px;
     display:flex;
     cursor: pointer;
    

   
    
   
    &__block{
    border: 3px solid #BC9CFF;
    width: 40px;
    height: 40px;
    border-radius: 50%;

   
    

        &_tox1{
            position: relative;
            left: 21px;
            top: 11px;
            border-top: 3px solid #6FCF97; 
            border-left: 3px solid #6FCF97; 
            border-radius: 360px 0 0 0;
            height: 5px;
            padding-bottom: -1px;
            width: 8px;
            

        }

        &_tox2{
            position: relative;
            left: 8px;
            top: 4px;
            border-top: 3px solid #BC9CFF;
            border-radius: 0 360px 0 0;
            border-right: 3px solid #BC9CFF;
            height: 13px;
            padding-top: 1px;
            width: 11px;
            

        }
    
    } 

     &__mag {
        background-image: url("../img/toxin.svg");
        width: 54.19px;
        height: 13.95px;
        background-repeat: no-repeat;
        margin: auto 0 auto 6px;
        

    }  
}  