@font-face {
    font-family: 'Quicksand';
    font-family: 'Montserrat';
    src: url('../fonts/quicksand.ttf') format('truetype');
    src: url('../fonts/montserrat.ttf') format('truetype');

}

body {
    @import "../sign/sign.scss";
    @import "./elements/shell/shell.scss";
    @import "./elements/check/check.scss";
       
    .container{
        width: 320px;
        height: 308px;
        position: absolute;
        left: 141px;
        top: 163px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .container2 {
        height: 267px;
        width: 320px;
        position: absolute;
        top:502px;
        left: 140px;

        &__elem1 {
            position: absolute;
            left: 0;
            top:0;
        }

        &__elem2 {
            position: absolute;
            left: 170px;
            top:0;
        }

        &__elem3 {
            position: absolute;
            left: 0;
            top: 100px;
        }
        
        &__elem4 {
            position: absolute;
            left: 0;
            top: 200px;
            
            .boxinp__input{

                .inp{
                    width: 266px;
                }
            }

            & i {
                color: #BC9CFF;
                position: absolute;
                left: 230px;
                bottom: 9px;
                cursor: pointer;
                font-size: 24px;
                line-height: 24px;
            }
        } 
    }

    .dropdef {
        position: absolute;
        top: 876px;
        left: 140px;

        .boxinp{
            width: 266px;
        }
    }

    .dropexp {
        position: absolute;
        width: 266px;
        height: 181.56px;
        display: flex;
        flex-wrap: wrap;
        left: 140px;
        top: 960px;
        
        .boxinp{
            width: 266px;
        
            .dropblockmiddle {
                border-bottom-right-radius: 0;
                border-bottom-left-radius: 0;
                border: 1px solid rgba(31, 32, 65, 0.5);
                border-bottom-width: 0;
    
            }
            
        }
    }

    .dropimp{
        position: absolute;
        width: 320px;
        height: 271.56px;
        left: 587px;
        top: 876px;
        
        .dropblock {
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
            border: 1px solid rgba(31, 32, 65, 0.5);
            border-bottom-width: 0;

        }
        

    
    }

    .dropimp2{
        @extend .dropimp;
        left: 979px;
        top: 876px;
    }
    
    .checkboxclose {
        position: absolute;
        left: 141px;
        top: 1182px;
        width: 266px;
        height: 44px;
    }

    .checkboxopen {
        position: absolute;
        width: 266px;
        height: 277px;
        left: 140px;
        top: 1246px;
    }

    .doublecheck1 {
        position: absolute;
        width: 222px;
        height: 129.12px;
        left: 587px;
        top: 143px;

        .checkclose {
            width: 222px;
        }

        .checkmain {
            height: 129px;
            width: 222px;
        }
    }
     
    .doublecheck2 {
        position: absolute;
        width: 266px;
        height: 145px;
        left: 587px;
        top: 1196px;


        .checkclose {
            width: 266px;
        }

        .checkmain {
            width: 266px;
            height: 145px;
            padding-bottom: 60px;
            box-sizing: border-box;
          

            .content {
                font-weight: bold;
                font-size: 14px;
                line-height: 18px;
                color: rgba(31, 32, 65, 0.75);
            }    
        }
        .discrip1 {
            font-family: 'Montserrat';
            font-size: 12px;
            line-height: 14px;
            width: 203px;
            height: 28px;
            display: inline-block;
            color: rgba(31, 32, 65, 0.5);
            position: absolute;
            top: 70px;
            left: 30px;
        }

        .discrip2 {
            @extend .discrip1;
            top: 135px;
        }
    }
}