@font-face {
    font-family: 'Quicksand';
    font-family: 'Montserrat';
    src: url('../fonts/quicksand.ttf') format('truetype');
    src: url('../fonts/montserrat.ttf') format('truetype');

}

body {
    @import "../sign/sign.scss";
    @import "./elements/shell/shell.scss";
    @import "./elements/check/check.scss";
    @import "./elements/comment/comment.scss";
       
    .container{
        width: 320px;
        height: 308px;
        position: absolute;
        left: 141px;
        top: 163px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .container2 {
        height: 267px;
        width: 320px;
        position: absolute;
        top:502px;
        left: 140px;

        &__elem1 {
            position: absolute;
            left: 0;
            top:0;
        }

        &__elem2 {
            position: absolute;
            left: 170px;
            top:0;
        }

        &__elem3 {
            position: absolute;
            left: 0;
            top: 100px;
        }
        
        &__elem4 {
            position: absolute;
            left: 0;
            top: 200px;
            
            .boxinp__input{

                .inp{
                    width: 266px;
                }
            }

            & i {
                color: #BC9CFF;
                position: absolute;
                left: 230px;
                bottom: 9px;
                cursor: pointer;
                font-size: 24px;
                line-height: 24px;
            }
        } 
    }

    .dropdef {
        position: absolute;
        top: 876px;
        left: 140px;

        .boxinp{
            width: 266px;
        }
    }

    .dropexp {
        position: absolute;
        width: 266px;
        height: 181.56px;
        display: flex;
        flex-wrap: wrap;
        left: 140px;
        top: 960px;
        
        .boxinp{
            width: 266px;
        
            .dropblockmiddle {
                border-bottom-right-radius: 0;
                border-bottom-left-radius: 0;
                border: 1px solid rgba(31, 32, 65, 0.5);
                border-bottom-width: 0;
    
            }
            
        }
    }

    .dropimp{
        position: absolute;
        width: 320px;
        height: 271.56px;
        left: 587px;
        top: 876px;
        
        .dropblock {
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
            border: 1px solid rgba(31, 32, 65, 0.5);
            border-bottom-width: 0;

        }
        

    
    }

    .dropimp2{
        @extend .dropimp;
        left: 979px;
        top: 876px;
    }
    
    .checkboxclose {
        position: absolute;
        left: 141px;
        top: 1182px;
        width: 266px;
        height: 44px;
    }

    .checkboxopen {
        position: absolute;
        width: 266px;
        height: 277px;
        left: 140px;
        top: 1246px;
    }

    .doublecheck1 {
        position: absolute;
        width: 222px;
        height: 129.12px;
        left: 587px;
        top: 143px;

        .checkclose {
            width: 222px;
        }

        .checkmain {
            height: 129px;
            width: 222px;
        }
    }
     
    .doublecheck2 {
        position: absolute;
        width: 266px;
        height: 175px;
        left: 587px;
        top: 1196px;
        

        .checkclose {
            width: 266px;
        }

        .checkmain {
            width: 266px;
            height: 145px;
            padding-bottom: 60px;
            box-sizing: border-box;
          

            .content {
                font-weight: bold;
                font-size: 14px;
                line-height: 18px;
                color: rgba(31, 32, 65, 0.75);
            }    
        }
        .discrip1 {
            font-family: 'Montserrat';
            font-size: 12px;
            line-height: 14px;
            width: 203px;
            height: 28px;
            display: inline-block;
            color: rgba(31, 32, 65, 0.5);
            position: absolute;
            top: 70px;
            left: 30px;
        }

        .discrip2 {
            @extend .discrip1;
            top: 135px;
        }
    }

    .radbut {
        position: absolute;
        width: 220.74px;
        height: 55px;
        left: 587px;
        top: 363px;

        &__name {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: bold;
            font-size: 12px;
            line-height: 15px;
            text-transform: uppercase;
            color: #1F2041;
        }
    
    }

    .togbut {
        position: absolute;
        width: 260px;
        height: 89px;
        left: 587px;
        top: 444.56px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &__name {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: bold;
            font-size: 12px;
            line-height: 15px;
            text-transform: uppercase;
            color: #1F2041;
            
    
        }

        &__elem {
            height: 24px;
            display: flex;
            justify-content: space-between;

            & .text {
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 24px;
                color: rgba(31, 32, 65, 0.75);
                display: inline-block;
                

                

                
            }
        }

    }

    .dischotel {
        position: absolute;
        width: 291px;
        height: 158px;
        left: 140px;
        top: 1603px;
        

        & hr {
            margin:20px 0 20px 0;
            border: 0.25px solid rgba(31, 32, 65, 0.1);
        }
    }

    .preslist {
        position: absolute;
        width: 292px;
        height: 147px;
        left: 979px;
        top: 1196px;

        &__title {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: bold;
            font-size: 12px;
            line-height: 15px;
            text-transform: uppercase;
        }
    }

    .opinion {
        position: absolute;
        width: 711px;
        height: 133px;
        left: 587px;
        top: 1573px;

    }

    .likebutton{
        position: absolute;
        width: 89.72px;
        height: 51px;
        left: 587px;
        top: 584px;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;

        & .likes:nth-child(2) {
            color: rgba(31, 32, 65, 0.25);

        }

        &__title {
            position: absolute;
            top: 0;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: bold;
            font-size: 12px;
            line-height: 15px;
            text-transform: uppercase;
        } 
    }

    .ratebutton {
        position: absolute;
        width: 260px;
        height: 60px;
        left: 727px;
        top: 656px;
       

        &__title {
            @extend .likebutton__title;
        }

        & .starbox:nth-child(2) {
            position: absolute;
            bottom: 0;
            left: 0;
        }

        & .starbox:last-child {
            position: absolute;
            bottom: 0;
            right: 0;
        }
    }
    .buttonset {
        position: absolute;
        width: 218px;
        height: 195px;
        left: 979px;
        top: 231px;


        &__title {
            @extend .likebutton__title;
        }

        & .btnclick:nth-child(2) {
            position: absolute;
            top: 31px;
        }

        & .btnclick:nth-child(3) {
            position: absolute;
            top: 31px;
            right: 0;
            opacity: 0.5;
        }

        & .btnclick:nth-child(4) {
            position: absolute;
            top: 119px;
            color:#BC9CFF;
            background-color: white;
        
        }

        & .btnclick:nth-child(5) {
            position: absolute;
            top: 119px;
            right: 0;
            color:#BC9CFF;
            border: 1px solid rgba(188, 156, 255, 0.5);
            background-color: white;
        }

        &__name1 {
            position: absolute;
            left:0;
            bottom: 0;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: bold;
            font-size: 12px;
            line-height: 15px;
            text-transform: uppercase;
            color: #BC9CFF;
        }

        &__name2 {
            @extend .buttonset__name1;
            left: 82px;
            color: rgba(31, 32, 65, 0.5);
        }



    }
    .longbut {
        position: absolute;
        width: 320px;
        height: 44px;
        left: 979px;
        top: 456px;

        & .btnclick {
            width: 320px; 
        }

    }
    .rangeslider{
        position: absolute;
        width: 266px;
        height: 47.44px;
        left: 979px;
        top: 143px;

        &__title {
            @extend .likebutton__title;
        }
    }
    
}