

%block {
    position: absolute;
    width: 143px;//143px;
    height: 168px;
    top: 104px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 

}

%icons {
    position: absolute;
    right: 7.29%;
    display: flex;
    padding: 12px 0 12px 0;
    justify-content: space-between;
    font-size: 24px;
    width: 92px;
    
}

%block_el{
    font-family:'Montserrat';
    font-size: 14px;
    line-height: 17px;
    
}

%link_a{
    text-decoration: none;
    color: rgba(31, 32, 65, 0.5);
}



.footer1 {
    margin-top: 40px;
    position: relative;
    height: 443px;
    background: #FFFFFF;
    box-shadow: 0px 1px 0px rgba(31, 32, 65, 0.1);

    @media (max-width:998px ) {
        .navigation,.about,.support,.postup {
            display: none;
        }
    } 
   
   

    
    .emblem {
        width: 18%; //280px;
        height: 156px;
        position: absolute;
        left: 7.29%;//140px;
        top:100px;

        @media (max-width:1158px ) {
            left: 2%;
        }
         
        @media (max-width:998px) { 
           width: 80%;
           position: relative;
           margin: 0 auto;

            &__tox .toxin {
                margin: 0 auto;
            }

            &__tox p {
                text-align: center;
                width: 100%;
            }
        }
       
        &__tox{
            @import "../../../sign/toxin.scss";


            & p {
                font-family: 'Montserrat';
                width: 92.85%;//260px;
                font-size: 14px;
                line-height: 24px;
                color: rgba(31, 32, 65, 0.75);
            }
        }

        
    } 

    

    .navigation {
       @extend %block;
       left: 31.77%;//610px;

       @media (max-width:1158px ) {
        left: 28%;
        }
    }

    .about {
        @extend %block; 
        left: 49.95%;//940px;
        top: 104px; 
        width: 82px;//82px;
        height: 168px; 

    }

    .support {
        @extend %block; 
        left: 63.54%;//1220px;
        top: 104px; 
        height: 130px;
        width: 153px;//153px;
    }

    .postup{
        width: 13.54%;//260px;
        //height: 142px;
        right: 5.29%;//1515px;
        top: 98px; 
        position: absolute;

        @media (max-width:1158px ) {
            right: 2%;
        }
        
       
       
        .blocktext {
            position: relative;
            top: 0;
            width: 208px;//208px;
            height: 84px;

            @media (max-width:1348px ) {
                width: 98%;
            }
           
            &__title {
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: bold;
                font-size: 12px;
                line-height: 15px;
                text-transform: uppercase;
                color: #1F2041;
            }
            &__infotext p {
                font-family: 'Montserrat';
                font-size: 14px;
                line-height: 24px;
                margin-top: 10px;
                color: rgba(31, 32, 65, 0.75);
            }
        }    

        &__input {
            height: 44px;
            width: 99.23%;//258px;
            margin-top: 30px;
            border: 1px solid rgba(31, 32, 65, 0.25);
            box-sizing: border-box;
            border-radius: 4px;
            outline: none; 
            padding: 15px;

            @media (max-width:1348px ) {
               margin-top: 42px;
            }
        }

        &__input:focus{
            font-family: 'Montserrat';
        }

        &__input::placeholder{
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            padding-left: 0.77%;//2px;
            color: rgba(31, 32, 65, 0.25);
        }

        & a i {
            position: absolute;
            width: 44px;//44px;
            height: 44px;
            bottom: -10px;
            left:7.29% + 77%;//227px;
            color: #BC9CFF;
            font-size: 24px;

            @media (max-width:1158px ) {
                left: 2% + 77%;
            }
        }
        
       
    } 


    .menu {
        @extend %block_el;

        & a{
            @extend %link_a;
        } 
     }

    .links {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 50px;
        border: 1px solid #E5E5E5;
    

        & p{
            position: absolute;
            left: 7.29%;
            font-family: 'Montserrat';
            color: rgba(31, 32, 65, 0.75);
            font-size: 14px;
            line-height: 17px;

            @media (max-width:1158px){
                left: 2%;
            }

            @media (max-width: 488px ) {
               top: 0;
               left: 0;
               position: static;
               text-align: center;

             
              
               
              
            }
            
        }

       
        
        &__icons{
           
          @extend %icons;

          @media (max-width:1158px ){
            right: 2%;
          }

          @media (max-width: 488px ) {
            left: 0;
            position: static;
            margin: 0 auto;
            padding: 0;

           
         }
        }

        &__icons a {
            color:#BC9CFF;

        }

        &__icons a:hover {
            font-size: 26px;
        }
    }
}