mixin checklist(one, ...elems)
    each elem in elems
        if elem == one
            div.menu(style="font-weight:700;color: #1F2041;font-size: 12px;line-height: 15px;")= elem
                
        else  
            div.menu
                a(href="#")= elem   

mixin feedback
    a(href="#") <i class="fa fa-twitter" aria-hidden="true"></i>
    a(href="#") <i class="fa fa-facebook-official" aria-hidden="true"></i>
    a(href="#") <i class="fa fa-instagram" aria-hidden="true"></i>
            
    
footer.footer1
    div.emblem
        div.emblem__tox
            include ../../../sign/toxin.pug
            p 
                pre
                     |Lorem ipsum dolor sit amet 
                     |consectetur adipiscing elit aliquam
                     | eget nullam pellentesque aliquam
                     | curabitur cociis
                
    div.navigation
        +checklist('NAVIGATION', 'NAVIGATION','About us','News','Support','Poducts')
    div.about
         +checklist('ABOUT US', 'ABOUT US','Who we are','Our team','Careers','Investors')
    div.support
         +checklist('SUPPORT', 'SUPPORT','Communication','Our team','Get in touch')
    div.postup
        div.blocktext
            span.blocktext__title Subscribe to our newsletter
            span.blocktext__infotext
                pre
                    |Receive our latest news and 
                    |promotions in your inbox! 
        input.postup__input(type="text" placeholder="Your email address")
        a(href="#") <i class="material-icons">arrow_forward</i>                       
    div.links  
        p Copyright © 2018 Toxin UI Kit. All rights reserved.
            div.links__icons
                +feedback
                
                    
            
 
    