.checkclose {
    width: 266px;
    height: 44px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;

    &__words {
        width: 192px;
        height: 15px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 15px;
        text-transform: uppercase;
        margin: auto 0;
    }

    & i {
        font-size: 24px;
        line-height: 24px;
        margin: auto 0;
        color: rgba(31, 32, 65, 0.5);
    }
}

.checkmain {
    width: 266px;
    height: 277px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    &__part {
        display: flex;
        height: 20px;
        
        & label {
            display: flex;


            & input {
                display: none;
            }

            & input:checked + .fake::before {
                border: 1px solid #BC9CFF;
                background-image: url("../img/vec.svg");
                background-repeat: no-repeat;
                background-position: 50% 30%;
                background-size: 12px;
            }

            & .fake::before {
                content: '';
                width: 20px;
                height: 20px;
                border: 1px solid rgba(31, 32, 65, 0.25);
                box-sizing: border-box;
                border-radius: 4px;
                display: inline-block;
    
            }

            & .content {
                display: inline-block;
                font-family: 'Montserrat';
                margin: auto 0 auto 10px;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 18px;
                color: rgba(31, 32, 65, 0.5);
                
            }

            
        }
        
       

    
    }
}

.radmenu {
    width: 220px;
    height: 20px;
    display: flex;
    justify-content: space-between;
    margin-top: 11px;
     
    & input {
        display: none;
    }

    & .fake {
        content: '';
        display: inline-block;
        width: 20px;
        height: 20px;
        border: 1px solid rgba(31, 32, 65, 0.25);
        border-radius: 50px;
        box-sizing: border-box;
        position: relative;
    }

    & .fake::before{
        content: '';
        position: absolute;
        transform: translate(40%,44%);
        background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
        border-radius: 50px;
        width: 10px;
        height: 10px;
        opacity: 0;
    }

    & input:checked + .fake::before {
        content: '';
        opacity: 1;
       
        
    }


    & input:checked + .fake + .content{
        color: rgba(31, 32, 65, 0.75);

    }



    & .content {
        display: inline-block;
        vertical-align: top;
        margin-left: 8px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 24px;
        color: rgba(31, 32, 65, 0.5);
    }

   

   
}

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
    

    
 
    & input {
        display:none;
    }

    
    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border: 1px solid rgba(31, 32, 65, 0.25);
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s;
      border-radius: 34px;
    }
    
    .slider:before {
      position: absolute;
      content: "";
      height: 13px;
      width: 13px;
      left: 4px;
      bottom: 3px;
      background-color:  rgba(31, 32, 65, 0.25);
      transition: .4s;
      border-radius: 50%;
    }
    
   
    
    input:focus + .slider {
      box-shadow: 0 0 1px #2196F3;
    }

    input:checked + .slider{
        border: 1px solid #BC9CFF;
    }
    
    input:checked + .slider:before {
      transform: translateX(18px);
      background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    }
    
    
  }