mixin checkhead(title,icon)
    div.checkclose
        p.checkclose__words= title
        if icon
            <i class="material-icons">#{icon}</i>

mixin checkbody([...items])
    div.checkmain
        each item in [...items]
            div.checkmain__part
                label
                    input(type="checkbox")
                    span.fake
                    span.content= item



mixin radio([...choices])
    div.radmenu
        each choice in [...choices]
            label
                input(type="radio" name="sex")
                span.fake
                span.content= choice 
            
mixin toggle
    label.switch
        input(type="checkbox")
        span.slider
                   