body {
    margin: 0;
    @import '../../foothead/puggy/header1/header1.scss';
    @import '../../foothead/puggy/info/info.scss';
    @import '../../cards/login/login.scss';
    @import '../../form/elements/shell/shell.scss';
    @import '../../form/elements/check/check.scss';
    @import '../../cards/calendar/calendar.scss';
   
    .contbox5 {
        max-width: 1920px;

        .vision{
            display: flex !important;
        }

        @media (max-width:998px) {
            .gap {
                margin-top: 200px;
            } 
        }


        @media (max-width:998px) {
            .gap2 {
                padding-top: 300px;
            } 
        }

        @media (max-width:998px) {
            .gap3 {
                padding-top: 100px;
            } 
        }
 

        & .header1 {
           box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
        }

        .coreblock {
            padding: 0 7.29%;
            top: 10px;
            position: relative;
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;

            
           @media(max-width:999px) {
              flex-direction: column-reverse;
              
           }             

            & .adapbut {
                width: 90%;
                height: 50px;
                border-radius: 5px;
                display: none;
                margin: 0 auto;
                outline: none;
                background-color:#9b8cf0;
                border: none;
                font-size: 20px;
                color: white;
                margin-top: 40px;

                @media(max-width:999px) {
                    display:block;
                }
            }
    
            & .title {
                width: 100%;
                font-family: 'Quicksand', sans-serif;
                font-size: 24px;
                font-weight: 700;
                text-align: center;
            }
            
            &__rooms {
                display: flex;
                flex-wrap: wrap;
                width: 850px;
                justify-content: space-between;

                @media(max-width:1328px) {
                    width: 700px;
                }

                @media(max-width:999px) {
                    margin: 0 auto;
                    width: 90%;
                    
                }

                @media(max-width:699px) {
                    width: 100%;
                }


                @media(max-width:634px) {
                    width: 90%;
                }

                @media(max-width:334px) {
                    width: 100%;
                }


                & .pagebox {
                    position: relative;
                    margin: 0 auto;
                    margin-bottom: 120px;
                    
                }
              
                & .room {
                    margin: 0 0 10px 0;

                    @media (max-width:635px) {
                        margin: 0 auto;
                    }
                }

            }

            &__panel {
                width: 266px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                height: 760px;
                margin-top: 25px;
                padding-right: 5%;

                & .box_roomquest {
                    position: relative;

                    & .boxinp {
                        width: 266px;

                        &__input {
                            width: 100%;
                        }
                    }

                    & .datepicker-here {
                        display: none;
                        width: 266px;
                        margin-top: 5px;

                        & .butcont {
                            width: 88%;
                        }

                        & .datepicker-inline {
                            width: 100%;

                            & .datepicker {
                                width: 92%;
                            }
                        }
   
                    }
                }

                @media(max-width:999px) {
                   display:none;
                   margin: 0 auto;
                   margin-top: 30px;
                }

                


                & .boxslide {
                    position: relative;
                    height: 80px;

                    & .slideset {
                         position: absolute;
                         top: 25px;
                    }

                    &__title {
                        display: inline-block;
                        position: absolute;
                        font-family: 'Montserrat';
                        font-weight: bold;
                        font-size: 12px;
                        text-transform: uppercase;
                        color: #1F2041;
                    }

                    &__text {
                        position: absolute;
                        font-family: 'Montserrat';
                        font-style: normal;
                        font-weight: normal;
                        font-size: 12px;
                        line-height: 14px;
                        color: rgba(31, 32, 65, 0.5);
                        bottom: 0;


                    }
                }

                & .homerule {
                   
                    & .checkmain {
                        height: 90px;
                    }

                    &__title {
                        font-family: 'Montserrat';
                        font-style: normal;
                        font-weight: bold;
                        font-size: 12px;
                        line-height: 15px;
                        text-transform: uppercase;
                    }
                }

                & .success {
                    position: relative;

                    & .checkmain {
                        height: 100px;
                        padding-bottom: 40px;

                        & .content {
                            font-weight: bold;
                            color: black;
                        }
                    }
                    
                    &__title {
                        font-family: 'Montserrat';
                        font-style: normal;
                        font-weight: bold;
                        font-size: 12px;
                        line-height: 15px;
                        text-transform: uppercase; 
                    }

                    & .discrip1 {
                        font-family: 'Montserrat';
                        font-size: 12px;
                        line-height: 14px;
                        width: 203px;
                        height: 28px;
                        display: inline-block;
                        color: rgba(31, 32, 65, 0.5);
                        position: absolute;
                        top: 65px;
                        left: 30px;
                    }

                    & .discrip2 {
                        @extend .discrip1;
                        top: 145px;
                    }
                }

                .box_adjust {
                    position: relative;

                    & .boxinp {
                       width: 266px;

                        &__input {
                          width: 100%;
                           
                           & .dropblock {
                             width: 100%;
                           }
                        }
                    }

                    & .droppyex{
                        position: absolute;
                        z-index: 3;
                        width: 100%;//266px;
                        display: none;
                        top: 65px;
                        right: 0;

                        @media(max-width:399px) {
                            top: 5px;
                            right: 0;
                        } 
                

                        & .elements{
                            width: 100%;
                        }
                    }
                } 
                
                .envir_room {
                    @extend .box_adjust;
                }   

                & .box_dropdown {
                    position: relative;

                    & .checkmain {
                        position: absolute;
                        display: none;
                    }

                }
            }
        }

        & .footer1 {
        border-top: 1px solid #E5E5E5;
        }

       

        
    }    
}    