.regisacc {
    width: 380px;
    height: 646px;
    @extend %envirfone;

    &__title {
       @extend %fontstyle;
       display: inline-block;
       position: absolute;
       left: 60px;
       top: 40px;
    }

    
    & .inp[placeholder="имя"] {
        position: absolute;
        top: 90px;
        left: 30px;
    }


    & .inp[placeholder="фамилия"] {
        position: absolute;
        top: 144px;
        left: 30px;
    }

    & .inp[placeholder="пароль"] {
        position: absolute;
        top: 420px;
        left: 30px;
    }

    & .radmenu {
        position: absolute;
        top: 198px;
        left: 30px;
    }

    & .boxinp {
        position: absolute;
        left: 30px;
        top: 252px;
    }

    & .boxinp:nth-child(6) {
        position: absolute;
        top: 346px;
    }

    & .inp::placeholder {
        color: rgba(31, 32, 65, 0.25);
    }

    & .btnclick:nth-child(9) {
        width: 320px;
        height: 44px;
        position: absolute;
        top: 510px;
        left: 25px;
    }

    & .togglecont {
        position: absolute;
        left: 30px;
        top: 470px;
        width: 260px;
        height: 24px;
      
        &__text {
            display: inline-block;
            position: absolute;
            left: 50px;
            font-family: 'Montserrat';
            font-size: 14px;
            line-height: 24px;
            color: rgba(31, 32, 65, 0.75);
        }
    }

    & .enter {
        position: absolute;
        width: 320px;
        height: 44px;
        bottom: 20px;
        left: 30px;
        display: flex;
        justify-content: space-between;

        &__text {
            font-family: 'Montserrat';
            font-size: 14px;
            color: black;
            margin: auto 0;
        }

        & .btnclick {
            background-color: white;
            color: #BC9CFF;
            border:2px solid #BC9CFF;
        }

    }
      

    
   
}   