@import "./elements/input/input.scss";

.grey {
    color: rgba(31, 32, 65, 0.25) !important;
}

.black {
    color: rgba(31, 32, 65, 0.75);
}

.boxinp {
    height: 67px;
    width: 320px;
    position: relative;

    .boxinp__input{
        margin-top: 5px;
        //@import "./elements/input/input.scss";
    }

    .boxinp__text {
        position: relative;
        font-family: 'Montserrat';
        font-weight: bold;
        font-size: 12px;
        line-height: 15px;
        text-transform: uppercase;
    }

    .boxinp__content {
        position: absolute;
        right: 0;
        top: 3px;
        font-family: 'Montserrat';
        font-size: 12px;
        line-height: 15px;
        text-transform: uppercase;
        color: rgba(31, 32, 65, 0.5);
    }
}
