<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=1170")
        link(href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet")
        title Document
    body
        include ../sign/sign.pug
        include ./puggy/header1/header1.pug
        include ../sign/sign.pug
        include ./puggy/header2/header2.pug
        include ./puggy/info/info.pug