@font-face {
    font-family: 'Quicksand';
    font-family: 'Montserrat';
    src: url('../fonts/quicksand.ttf') format('truetype');
    src: url('../fonts/montserrat.ttf') format('truetype');

}


body{
    margin:0;
    background: #E5E5E5;
    min-width: 1170px;

    
    @import "../sign/sign.scss";
    @import "./puggy/header1/header1.scss";
    @import "./puggy/header2/header2.scss";
    @import "./puggy/info/info.scss";
    @import "./puggy/footer/footer.scss";

    .header1 {
        margin-top: 140px;
    }
       
}