include ../../form/elements/shell/shell.pug
include ../../form/elements/button/button.pug


mixin calendar
    div.datepicker-here
        div.butcont
            span.clear очистить
            span.confirm применить     

mixin searchroom
    div.searcher
        p.searcher__title
                        | Найдем номера под
                        | ваши пожелания
        +dropContShort('ДД.ММ.ГГГГ','прибытие')
        +dropContShort('ДД.ММ.ГГГГ','отъезд')
        .box_inner
            +dropCont('Сколько гостей','гости')
            +expendedImprove(['ВЗРОСЛЫЕ','ДЕТИ','МЛАДЕНЦЫ'], 'применить','очистить')
        +click('подобрать номер','arrow_forward')
        
    
            
        
     
                          
mixin pricelist(num,price)
    div.pricebody
        p.string <span class="number">&#8470; #{num}</span> <span class="lux">люкс</span> <span class="price">#{price}<i class="fa fa-rub" aria-hidden="true" style="font-size:14px;margin-left:1px;"></i> <span class="end">в сутки</span> </span>
        +dropContShort('19.08.2019','прибытие')
        +dropContShort('23.08.2019','выезд')
        .box_inner
            +dropCont('3 гостя','гости')
            +expendedImprove(['ВЗРОСЛЫЕ','ДЕТИ','МЛАДЕНЦЫ'], 'применить','очистить') 
        div.pricebody__boxprice
            div.priceitems
                span.namelist 9 990<i class="fa fa-rub" style="font-size:13px;" aria-hidden="true"></i> &times;4
                span.namelist Сбор за услуги: скидка 2 179<i class="fa fa-rub" style="font-size:13px;" aria-hidden="true"></i> <div class="circle">i</div> 
                span.namelist Сбор за дополнительные<div class="circle">i</div> услуги                             
            div.pricescores
                each digit in ['39 990', 0, 300]
                    span.namelist #{digit}<i class="fa fa-rub" style="font-size:13px;" aria-hidden="true"></i> 

        span.allcost Итого<hr class="allcost__dot"><span class="allcost__number">38 081<i class="fa fa-rub" style="font-size:17px;" aria-hidden="true"></i></span>
        +click('забронировать','arrow_forward')    
                 