@font-face {
    font-family: 'Quicksand';
    font-family: 'Montserrat';
    font-style: normal; 
    font-weight: normal;
    src: url('../fonts/quicksand.ttf') format('truetype');
    src: url('../fonts/montserrat.ttf') format('truetype');

}


body {
    min-width: 1170px;
    margin: 145px 191px 145px 149.74px;
     
    @import "../sign/sign.scss";

    .main {

       &-leftblock{
            width:270px;
            height:610px;
            display: flex;
            justify-content: space-between;
            flex-direction:column;
            
           
    
                       
            &__square {
               width: 70px;
               height: 70px;
               margin-left:0;
               border-radius:6px;
            
               
            } 

            .content{
            position: absolute;
            margin-left: 110px;
            width: 159px;
            margin-top: 7px;
            
             
            
                &__text{
                    width: 169px;
                    height: 57px;
                    margin-bottom: 33px;
                
                    &_font {
                        font-family: 'Quicksand';
                        font-weight: bold;
                        color: #1F2041;
                        font-style: normal;
                        line-height: 29px; 
                        margin-bottom: 10px;                       
                    }    

                   
                    
                }    
                
               
               
            } 

        }

        &-rightblock {
            position: absolute;
            display: flex;
            flex-direction:column;
            right: 145px;
            top: 191px;
            width: 402px;
            height: 321px;
            

                  &__block{
                      width: 400px;
                      height: 55px;
                      display: flex;
                      margin-bottom: 55px;

                        &_h{
                            height: 30px;
                            width: 30px;
                            margin-top: 4px;
                            margin-left: 8px;
                            font-weight: normal;
                            font-family: 'Montserrat';
                            color: rgba(31, 32, 65, 0.25);
                            
                           
                        }

                        &_sp{
                           vertical-align: top;
                           font-size: 24px;
                           margin-left: 67px;
                           font-family: 'Quicksand';
                           font-weight: bold;
                        }
                  }
                }

                    
        } 
    }   
