div.logged
    span.logged__title войти
    +inpText('email')
    +inpText('пароль')
    +click('войти','arrow_forward')
    div.logged__enter
        span.entertext Нет аккаунта на Toxin?
        +click('войти') 