.likes {
    width: 39.72px;
    height: 20px;
    border-radius: 10px;
    border: 1px solid;
    color: #BC9CFF;
    cursor:  pointer;
   
    & i {
        font-size: 12px;
        display: inline-block;
        margin-left: 5px;
        margin-top: 4px;
       
    }

    &__digit {
        font-size: 12px;
        display: inline-block;
       position: relative;
       font-family: 'Montserrat';
       bottom: 2px;
       left: 5px;
      
      
    }
}

.starbox {
    width: 120px;
    height: 24px;
    display: flex;
    justify-content: space-between;

    & i {
        color: #BC9CFF;
        cursor: pointer;
    }
}

.btnclick {
    width: 99px;
    height: 44px;
    background-color:  #BC9CFF;
    border-radius: 22px;
    border: 1px solid #BC9CFF;
    outline: none;
    cursor: pointer;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #FFFFFF;


    @if  i {
       & i {
            position: absolute;
            right: 15px;
            bottom: 10px;
            font-size: 24px;
            line-height: 24px;
        }
    }

    

}

.slideset {
    width: 266px;
    height:25px;
    bottom: 0;
    position: absolute;
    
    

    & #amount{
        border: none;
        outline: none;
        font-family: 'Montserrat';
        font-size: 13px;
        line-height: 15px;
        width: 40%;
        text-transform: uppercase;
        position: absolute;
        top: -25px;
        right: -5px;
        color: rgba(31, 32, 65, 0.5);
    }

    & #slider-range {
        height: 6px;
        margin-top: 15px;
        border: 1px solid rgba(31, 32, 65, 0.25);
       

    

        & span {
            height: 12px;
            width: 12px;
            border-radius: 50px;
            background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
            border: 2px solid #FFFFFF;
            outline: none;
        }

        & div {
            background:linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
            margin-top: -1px;
            height: 8px;
        }
     
     
    }
}

.pagebox {
    width: 241px;
    height: 40px;
    display: flex;
    position: absolute;
    top: 31px;
    
   
    

    &__num, &__one {
        width: 40px;
        height: 40px;
        text-align: center;
        padding-top: 10px;
        box-sizing: border-box;
    }

    &__num {
        font-family: 'Montserrat';
        font-size: 12px;
        line-height: 15px;
        color: rgba(31, 32, 65, 0.5);
        
    }
    
    
    
    &__num:not(:nth-child(4)):hover {   
        @extend .pagebox__one;
        opacity: 0.5;
        cursor: pointer;
    }
    
    
    &__one {
        border-radius: 50px;
        background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9);
        color: white;
        font-family: 'Montserrat';
        font-size: 13px;
    }

    & i {
        
        padding-top: 7px;
        box-sizing: border-box;
        border-radius: 50px;
        background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
        width: 40px;
        height: 40px;
        text-align: center;
        color: white;
    }
    
    &__text {
        display: inline-block;
        position: absolute;
        top: 58px;
        left: 6px;
        font-family: 'Montserrat';
        font-size: 14px;
        line-height: 24px;
        color: rgba(31, 32, 65, 0.75);

    }
}