@font-face {
    font-family: 'Quicksand';
    font-family: 'Montserrat';
    src: url('../../fonts/quicksand.ttf') format('truetype');
    src: url('../../fonts/montserrat.ttf') format('truetype');
}


body {
    margin: 0;
    @import '../../foothead/puggy/header1/header1.scss';
    @import '../../cards/calendar/calendar.scss';
    @import '../../foothead/puggy/info/info.scss';
    @import '../../form/elements/input/input.scss';


    
    
    .contbox {
        max-width: 1920px;
        
        .picfone {
                background-image: url("../../img/landing.svg");
                max-width: 100%;
                background-position: center center;
                height: 722px;
                background-size: cover;
                background-repeat: no-repeat;
                background-attachment: initial;
                background-position-y: bottom;
                position: relative;
               
                @media (max-width:1628px ) {
                   
                    .searcher {
                        left: 5.29% !important;
                    }

                    .datepicker-here {
                        left: 5.29% !important;
                        margin-left: 30px;
                    }

                    .droppyex {
                        left: 5.29% !important;
                        margin-left: 30px;
                    }

                    &__slogan {
                        right: 5.29% !important;
                    }
                }
                
                @media (max-width:1158px ) {
                    .searcher {
                        left: 2% !important;
                        
                    }

                    .datepicker-here {
                        left: 2% !important;
                        margin-left: 30px;
                    }

                    .droppyex {
                        left: 2% !important;
                        margin-left: 30px;
                    }

                    &__slogan {
                        right: 2% !important;
                    }
                } 
               

                & .datepicker-here {
                    position: absolute;
                    top: 391px;
                    left: 170px;
                    display: none;
                } 

                & .searcher {
                    position: absolute;
                    background-color: white;
                    top: 200px;
                    left: 140px;
                } 

                & .droppyex {
                    position: absolute;
                    top: 465px;
                    left: 170px;
                    display: none;

                    @media (max-width:398px) {

                       width: 76%;
                       margin-top: 60px;
                       margin-left: 9.5%;
                       
                       & .elements {
                           width: 100%;
                       }
                    } 
                } 

                &__slogan {
                    width: 267px;
                    height: 48px;
                    text-align: right;
                    font-family: 'Montserrat';
                    font-size: 14px;
                    color: rgba(31, 32, 65, 0.75);
                    position: absolute;
                    top: 665px;
                    right: 140px;
                } 
                
            
        }
    }
}       
    
