div.tagline
    div.centerblock
        div.centerblock__signtoxy
            include ../../../sign/toxin.pug
        p.centerblock__tag
            |Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam
            |pellentesque aliquam curabitur cociis.    
        div.centerblock__feed
            +feedback
            