@font-face {
    font-family: 'Quicksand';
    font-family: 'Montserrat';
    src: url('../fonts/quicksand.ttf') format('truetype');
    src: url('../fonts/montserrat.ttf') format('truetype');
}


body {
    
    @import "../sign/sign.scss";
    @import "./login/login.scss";


    background: #E5E5E5;
    cursor: default;
    min-width: 1170px;

    %envirfone {
        background: #FFFFFF;
        border: 1px solid rgba(31, 32, 65, 0.25);
        box-sizing: border-box;
        box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
        border-radius: 4px;
    }

    %fontstyle {
        font-family: 'Quicksand',sans-serif;
        color: black;
        font-weight: bold;
        font-size: 19px;
        line-height: 24px;
        text-transform: uppercase;
    }

    .regisacc {
        left: 140px;
        top: 564px;
        position: absolute;
    }


    .logged {
        left: 560px;
        top: 701px;
        position: absolute;
    }

    .room:nth-child(4) {
        position: absolute;
        left: 980px;
        top: 559.5px;
    }

    .room:nth-child(5) {
        position: absolute;
        left: 980px;
        top: 856px;
    }
   
}