html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=1170")
        link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")
        link(rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css")
        script(src="https://use.fontawesome.com/ff88c31cb5.js")
        title Cards
    body
        include ../sign/sign.pug
        include ./regga/regga.pug
        include ./login/login.pug
        
        

        
       

             








        script(src="https://code.jquery.com/jquery-1.12.4.js")
        script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.js")