html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=1170")
        link(rel="stylesheet" href="../node_modules/air-datepicker/dist/css/datepicker.min.css" type="text/css")
        link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")
        link(rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css")
        title Cards
    body
        include ../sign/sign.pug
        include ./login/login.pug
        include ./calendar/calendar.pug
       
        +loginplag
        +reggaplag
        +rooms(888,'9 999',145,"./img/room1.svg",'icon')
        +rooms(840,'9 900',65,"./img/room2.svg")
        +calendar
        +searchroom
        +pricelist(888,'9 990')
     
        
       

             







        script(src="https://use.fontawesome.com/ff88c31cb5.js")
        script(src="https://code.jquery.com/jquery-1.12.4.js")
        script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.js")
        script(src="../node_modules/air-datepicker/dist/js/datepicker.min.js")
        
       
        