@font-face {
    font-family: 'Quicksand';
    font-family: 'Montserrat';
    src: url('../fonts/quicksand.ttf') format('truetype');
    src: url('../fonts/montserrat.ttf') format('truetype');
}


body {
    
    @import "../sign/sign.scss";
    @import "./login/login.scss";
    @import "./calendar/calendar.scss";
    @import "../form/elements/input/input.scss";
  
      
    background: #E5E5E5;
    cursor: default;
    min-width: 1170px;


    .regisacc {
        left: 860px;
        top: 564px;
        position: absolute;
    }


    .logged {
        left: 1280px;
        top: 701px;
        position: absolute;
    }

    .room:nth-child(4) {
        position: absolute;
        left: 1700px;
        top: 559.5px;
    }

    .room:nth-child(5) {
        position: absolute;
        left: 1700px;
        top: 856px;
    }

    .datepicker-here {
        position: absolute;
        left: 1700px;
        top: 150px;
        box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
    }

    .searcher {
        position: absolute;
        left: 860px;
        top: 150px;
        background: white;
    }

    .pricebody {
        position: absolute;
        left: 1280px;
        top: 150px;
    }
    
   
}