.grey::placeholder {
    color: rgba(31, 32, 65, 0.25);
}

.black::placeholder{
    color: rgba(31, 32, 65, 0.75); 
}

.inp {
    width: 320px;
    height: 44px;
    background: #FFFFFF;
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 4px;
    box-sizing: border-box;
}

.inp::placeholder{
    font-size: 14px;
    font-style: 'Montserrat';
    padding-left: 15px;

}


.dropblock{
    @extend .inp;
    cursor:pointer;
    position: relative;

    & .material-icons{
        margin-left: 285px;
        margin-top: -20px;
        font-size: 24px;
        position: absolute;
        color: rgba(31, 32, 65, 0.5);
        display: block;    
    }

    &__words {
        font-family: 'Montserrat';
        font-size: 14px;
        color: rgba(31, 32, 65, 0.75);
        margin-top: 12px;
        margin-left: 15px;
        display: inline-block;
    }
}

.dropblockshort {
    @extend .dropblock;
    width: 150px;

    &__words {
        @extend .dropblock__words;
    } 

    & .material-icons {
        margin-left:118px;
    
    }
    
}

.dropblockmiddle {
    @extend .dropblock;
    width: 266px;

    &__words {
        @extend .dropblock__words;
    } 

    & .material-icons {
        margin-left:230px;
    
    }
}      
