.disable_border {
    border:1px solid rgba(31, 32, 65, 0.15) !important;
}

.disable_color {
    color:rgba(31, 32, 65, 0.15) !important;
}



.droppy {
    width: 266px;
    box-sizing: border-box;
    height: 119px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 7px 7px 7px 15px; 
    border: 1px solid rgba(31, 32, 65, 0.5);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: white;

    .elements{
        height: 30px;
        width: 245px;
        display: flex;
        position: relative;
        
    

        &__words{
            font-family: 'Montserrat';
            font-weight: bold;
            font-size: 12px;
            line-height: 15px;
            margin-top:6px;
            display: inline-block;
            text-transform: uppercase;    
            
        }

        &__numbers {
            width: 92px;
            height: 30px;
            position: absolute;
            display: flex;
            justify-content: space-between;
            right: 7px;
           
          
            

            &__num{
                font-family: 'Montserrat';
                font-weight: bold;
                font-size: 12px;
                line-height: 15px;
                margin: auto 0;
                text-transform: uppercase;
              
                

            }
         
            &__circle1,&__circle2 {
                width: 30px;
                height: 30px;
                border:1px solid rgba(31, 32, 65, 0.5);
                border-radius: 50px;
                cursor: pointer;
               

                .minus {
                    display: inline-block;
                    margin-left: 11px;
                    margin-top: -3px;
                    font-size: 1.6em;
                    color: rgba(31, 32, 65, 0.5);
                }

                .plus {
                    display: inline-block;
                    margin-left: 10px;
                    margin-top: 3px;
                    font-size: 1.2em;
                    color: rgba(31, 32, 65, 0.5);
                }
            }
            
        }
    }
}

.droppyex {
    @extend .droppy;
    width: 320px;
    height: 169px;

    .done {
        display: flex;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 15px;
        text-transform: uppercase;
        height: 40px;
        position: relative;
        
       
       

        .ok ,.cancel {
            display: inline-block;
            margin: auto 0;
            cursor: pointer;
        }
            
        .ok {
            color: #BC9CFF;
            position: absolute;
            margin-top: 12px;
            right: 0;
        }

        .cancel {
            color: rgba(31, 32, 65, 0.5);
        } 
        
    }
    

    .elements {
        width: 300px;
    }
}

.grey::placeholder {
    color: rgba(31, 32, 65, 0.25);
}

.black::placeholder{
    color: rgba(31, 32, 65, 0.75); 
}

.inp {
    width: 320px;
    height: 44px;
    background: #FFFFFF;
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 4px;
    box-sizing: border-box;
}

.inp:focus {
    outline: none;
}

.inp::placeholder{
    font-size: 14px;
    font-family: 'Montserrat';
    padding-left: 15px;
}




.dropblock{
    @extend .inp;
    cursor:pointer;
    position: relative;

    & .material-icons{
        margin-left: 285px;
        margin-top: -20px;
        font-size: 24px;
        position: absolute;
        color: rgba(31, 32, 65, 0.5);
        display: block;    
    }

    &__words {
        font-family: 'Montserrat';
        font-size: 14px;
        color: rgba(31, 32, 65, 0.75);
        margin-top: 12px;
        margin-left: 15px;
        display: inline-block;
    }
}

.dropblockshort {
    @extend .dropblock;
    width: 150px;

    &__words {
        @extend .dropblock__words;
    } 

    & .material-icons {
        margin-left:118px;
    
    }
    
}

.dropblockmiddle {
    @extend .dropblock;
    width: 266px;
   

    &__words {
        @extend .dropblock__words;
    } 

    & .material-icons {
        margin-left:230px;
    
    }
}

